.form{
  width: 400px;
  height: 400px;
  border: 1px solid grey;
  border-radius: 10%;
  padding: 30px;
  font-family: sans-serif;
}
.text{
color: grey;  
}
.cardname{
  font-weight: bold;
}


.cardInput{
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 8px;
}
.card {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}
.cardnumber{
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 8px;
}
.row{
  display: flex;
  margin-top: 10px;
  gap: 7px;
 
}
.btn{
  width: 100%;
  margin-top: 20px;
  height: 10%;
 color: white;
 background-color: black;
 font-size: large;
 cursor: pointer;
}
.year,
.mount,
.cvv{
  display: flex;
  flex-direction: column;
  flex: 1;
gap: 10px;
}


